@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; /* Ensure a fallback font */
    background-color: black;
    color: white; /* Improve readability against black background */
}

.navbar {
    background-color: #363636;
    width:100%;
    z-index:2;
}

.nav li {
    transition:0.3s;
}

.nav li:not(:first-child) :hover{
    filter: brightness(0.5);
    cursor:pointer;
}



.nav-mob li:hover {
    filter: brightness(0.5);
    cursor:pointer;
}

.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1rem;
}

.intro-content {
    padding: 0 1rem; 
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.nav li:first-child{
    width:100%;
}

.skill-img {
    box-shadow: 0 0 12px #F1F5F9;
}

@media (max-width:480px) {
    .profile-pic {
        width:120px;
        border-radius:50%;
    }

    .intro {
        flex-direction: column;
    }
}


