@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif; /* Ensure a fallback font */
    background-color: black;
    color: white; /* Improve readability against black background */
}

.navbar {
    background-color: #363636;
}

.navbar li {
    transition:0.3s;
}

.navbar li :hover{
    filter: brightness(0.5);
    cursor:pointer;
}

/* Flexbox layout for intro section */
.intro {
    display: flex;
    flex-direction: row; /* Stack items vertically on small screens */
    align-items: center;
    margin-top: 2.5rem;
    padding: 1rem; /* Add some padding */
}

.intro-content {
    padding: 0 1rem; 
    text-align: center; /* Center text on small screens */
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 1rem; /* Space below image on small screens */
}

@media (max-width:480px) {
    .profile-pic {
        width:120px;
        border-radius:50%;
    }

    .intro {
        flex-direction: column;
    }
}


